boto==2.38.0
chardet==2.3.0
cheroot==5.8.3
CherryPy==11.0.0
cryptography==1.2.3
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
lockfile==0.12.2
ndg-httpsclient==0.4.0
portend==2.2
pyasn1==0.1.9
pygobject==3.20.0
pyOpenSSL==0.15.1
pyTelegramBotAPI==3.2.1
python-cloudfiles==1.7.10
pytz==2017.2
pyxdg==0.26
requests==2.7.0
six==1.10.0
telebot==0.0.3
tempora==1.9
unity-lens-photos==1.0
urllib3==1.13.1
virtualenv==15.1.0
